body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ProductCard{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border : 0.5px solid black;
    display: flex;
    flex-direction: column;
    padding : 5px;
     transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.ProductCard:hover {
  transform: scale(1.05);              
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

.image{
    height : 190px;
    width: 100%;
    border-radius: 10px;
     overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 100%;
    align-content: center;
    padding : 5px;
    background-color : rgb(1, 143, 23);
    border-radius: 5px;
    border : 0px;
    color : white;
}

.ProductName {
  font-size: 18px;         
  font-weight: 600;         
  color: #333333;                     
}

.ProductPrice {
  font-size: 16px;          
  font-weight: 700;         
  color: #E53935;          
}